@import "tailwindcss";

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  display: none;
}

/* Firefox */
html {
  scrollbar-width: none;
}

/* IE and older Edge */
body {
  -ms-overflow-style: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.banner {
  background-image: url('https://glovo.dhmedia.io/image/stores-glovo/stores/c8e40086b124796d2b345fe1a8203587caa30745a0a7ce26bace91c4721c2ffc?t=W3siYXV0byI6eyJxIjoibG93In19LHsicmVzaXplIjp7Im1vZGUiOiJmaXQiLCJ3aWR0aCI6MTI4MCwiaGVpZ2h0IjoxMjB9fV0%3D');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 90vh;
}

.cover {
  width: 100%;
  height: 90vh;
  background-color: black;
  opacity: 0.7;
}

.fadeout {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 18%;
  background: linear-gradient(
    to bottom,
    rgba(13, 13, 13, 0),
    rgba(13, 13, 13, 0.35) 55%,
    #0d0d0d 100%
  );
  pointer-events: none;
}